{% extends "familia/index.html" %}

{% load bootstrap5 %}

{% block cuerpo %}
<div class="container">
   <div class="row">
     <div class="col">
      <h1>BUSCAR UN FAMILIAR</h1>
     </div>
     </div>
     <div class="row">
     <div class="col">
      <form action="{% url  'buscar'%}" method="get">
         {% csrf_token %} 
         {% bootstrap_form form_busqueda %}
         {% bootstrap_button "Buscar" button_type="submit" button_class="btn-primary" %}
      </form>
     </div>
   </div>
 </div>
{% endblock %}