{% extends 'familia/index.html' %}
{% load bootstrap5 %}

{% block body %}
<div class="container">
    <div class="row">
      <div class="col">
        <h1>Miembros de Mi Familia</h1>
        {% url 'agregar' as agregar_url %}
        {% bootstrap_button "Agregar" size="sm" button_class="btn-primary" button_type="link" href=agregar_url %}

      </div>
      </div>
      <dov class="row">
      <div class="col">
        {% if personas %}
        <table class="table">
            <thead>
                <th scope="col">Identificador</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Email</th>
                <th scope="col">Acciones</th>
                <th scope="col">Fecha de Nacimiento</th>
            </thead>
        
            {% for p in personas %}
            <tbody>
                <tr>
                    <th scope="row">{{p.id}} </th>
                    <td> {{p.nombre}} </td>
                    <td> {{p.apellido}} </td>
                    <td> {{p.email}} </td>
                    <td> {{p.fecha_nacimiento}} </td>
                    {% url 'borrar' identificador=p.id as borrar_url %}
                    <td>{% bootstrap_button "Borrar" size="sm" button_class="btn-danger" button_type="link" href=borrar_url %}</td>
                </tr>  
            </tbody>
            {% endfor %}
        </table>
        {% else %}
            <p>No tienes familiares cargados</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}